<!-- Header de las seccion doctores -->
<section class="max-w-screen-xl mx-auto">
    <div class="lg:flex md:grid grid-cols-2 justify-between items-center">
        <div class="flex ">
            <p class="text-4xl font-bold md:p-4 p-4">Citas</p>
        </div>
        <div class="flex items-center justify-center mt-4 md:mt-0 ">
            <btn-add-appointment/>
        </div>
    </div>
    <calendar class="mt-10"></calendar>
</section>
